.container {
  margin: 0 auto;
  padding: 0 1rem;
}
.wrapper-search-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-input {
  display: inline-flex;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  border: 1px solid #9ca3af;
  width: 20rem;
}
/* Search Input */
.search-input {
  background-color: transparent;
  text-align: center;
  width: 100%;
  border: none;
}
.search-input:focus {
  outline: none;
}
.search-input::placeholder {
  color: #6b7280;
}
/* Search button */
.search-btn {
  background-color: transparent;
  border: none;
}
.search-btn:focus {
  outline: none;
}
/* Filter Button */
.filter-btn {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #e5e7eb;
  align-items: center;
  border-radius: 0.125rem;
  border: none;
}
