@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");
/* @import "preset.css"; */
@import "app.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #588157;
  --second-color: #c9c8c8;
  --third-color: #f2f2f2;
}

.atas {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

#dokumen1 {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

#dokumen1 h1 {
  padding: 1px;
  margin-bottom: 10px;
  padding-right: 32px;
  font-size: 15px;
  font-family: sans-serif;
}

#dokumen1 h4 {
  display: inline-block;
  color: black;
}

p {
  font-size: 11px;
  /* align-content: center; */
  place-content: center;
}

.text-kanan {
  justify-content: center;
  height: 0.1px;
  padding: 10px;
  text-align: right;
  font-size: 8px;
  color: rgb(140, 138, 136);
}

.kategori {
  color: rgb(238, 235, 235);
  font-size: 12px;
  margin-top: 35px;
  margin-right: 10px;
  padding: 5px;
  float: right;
  display: flex;
  max-width: fit-content;
  /* max-height: 20px; */
  background-color: grey;
  border-radius: 10%;
}

.delete-update {
  /* color: black; */
  font-size: 12px;
  margin-top: 35px;
  float: right;
  display: flex;
  max-width: 100px;
  max-height: 20px;
  gap: 5px;
}

.btn-update,
.btn-delete {
  color: beige;
  width: max-content;
  text-decoration: none;
  border-radius: 10%;
}

.btn-update {
  background-color: #588157;
  padding: 2px 5px 5px 5px;
}

.btn-delete {
  background-color: red;
  padding: 2px 5px 5px 2px;
}

.btn-update:hover {
  color: beige;
  background-color: #6fa16e;
}

.btn-delete:hover {
  color: beige;
  background-color: rgb(245, 94, 94);
}

.content-box {
  display: center;
  padding: 10px;
  /* height: 100px;  */
  border-radius: 3px;
  min-width: 100px;
  border-style: solid;
  border-color: #588157;
  margin: 10px 0px;
}

/* Bagian Search */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container-1 {
  display: flex;
  align-items: center;
  gap: 2%;
  /* vertical-align: middle;
    white-space: nowrap; */
  /* position: relative; */
}

form {
  height: 60px;
  /* background-color: aquamarine; */
}

::-webkit-input-placeholder {
  /* For WebKit browsers */
  color: #111010;
  font-family: Helvetica Neue;
  font-weight: bold;
}
:-moz-placeholder {
  /* For Mozilla Firefox 4 to 18 */
  color: #111111;
  font-family: Helvetica Neue;
  font-weight: bold;
}
::-moz-placeholder {
  /* For Mozilla Firefox 19+ */
  color: #111111;
  font-family: Helvetica Neue;
  font-weight: bold;
}
:-ms-input-placeholder {
  /* For Internet Explorer 10+ */
  color: #111111;
  font-family: Helvetica Neue;
  font-weight: bold;
}

/* pagination */
ul.pagination {
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 5px;
  background-color: var(--second-color);
  margin: 2px;
  transition: all ease-in-out 250ms;
  border-radius: 10%;
}

nav ul li:hover:not(.no-click) {
  background-color: var(--main-color);
}
nav ul li:hover:not(.no-click) a {
  color: white;
}

nav ul li a {
  padding: 5px;
  text-decoration: none;
  color: black;
  font-family: "Kanit", sans-serif;
  transition: all ease-in-out 250ms;
}

nav ul .current {
  background-color: #588157;
}

nav ul .current a {
  color: white;
}
nav ul .no-click {
  cursor: not-allowed;
}
/* end of pagination */
