body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25vh;
}

div{
  font-family: Roboto;
}

.logo-sleman{
  width: 200px;
}

.text-center{
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
}

.teks-header{
  font-size: 125%;
  font-weight: bold;
}

input{
  height: 53px;
}

#switch-logres1{
  font-size: 120%;
  width: 47%;
  background-color: #588157;
  border-color: #588157;
  border-radius: 5px;
}

#switch-logres2{
  font-size: 120%;
  width: 47%;
}

#recolor1{
  background-color: #588157;
  border-color: #588157;
}

#tombol{
  background-color: #588157;
  border-color: #588157;
}

.vr{
  width: 30px;
}


@media (max-width: 576px) {
  body{
    padding-top: 5vh;
  }

  .text-center{
    flex-direction: column;
  }

  .logo-sleman{
    width: 125px;
  }
}