.container{
  text-align: center;
  padding-top: 18vh;
  width: 40%;
  font-family: Roboto;
}

.error-number{
    font-size: 1200%;
    font-weight: bold;
    color: #588157;
}

#tombol{
    margin-top: 2vh;
    background-color: #588157;
    border-color: #588157;
  }