<div class="cont">
    <div class="sidebar">
        <div class="header">
            <div class="list-item">
                <a href="#">
                </a>
            </div>
            <div class="ilustration">
                <img src="/images/Vector.png" alt="">
            </div>
        </div>
        <div class="main">
            <div class="list-item">
                <a class="lurusin" href="#">
                    <img src="/images/home.png" alt="" class="icon">
                    <span class="deskription">Dashboard</span>
                </a>
            </div>
            <div class="list-item">
                <a class="lurusin" href="#">
                    <img src="/images/upload.png" alt="" class="icon">
                    <span class="deskription">  Upload</span>
                </a>
            </div>
            <div class="list-item">
                <a class="lurusin" href="#">
                    <img src="/images/update.png" alt="" class="icon">
                    <span class="deskription">Update</span>
                </a>
            </div>
        </div>
    </div>
    <div class="main-konten">
        <h1>hallo</h1>
    </div>
</div>































<%- !username ? '' : `<a href="/logout">Log Out</a>` %>