<div class="container">
    <div>
        <h1 class="error-number">404</h1>
    </div>
    <div>
        <h4 class="text1">Mohon Maaf</h4>
        <h6 class="text2">Halaman yang anda cari tidak dapat kami temukan</h6>
    </div>
    <div>
        <button class="btn btn-primary" id="tombol" type="submit">Kembali Ke Dashboard</button>
    </div>
</div>