<div class="container">
    <div>
        <h1 class="error-number">401</h1>
    </div>
    <div>
        <h4 class="text1">Mohon Maaf</h4>
        <h6 class="text2">Anda tidak memiliki akses</h6>
    </div>
    <div>
        <a class="btn btn-primary" id="tombol" href="/dashboard">Kembali Ke Dashboard</a>
    </div>
</div>