<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<section class="about">
    <div class="main">
        <!-- <img src="/images/KabupatenSleman1.png" alt=""> -->
        <div class="document">

        </div>
        <div class="about-text">
            <h2>JUDUL DOCUMENT</h2><br>
            <h6>Dipublikasi Pada 11 November 2011</h6><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dicta, vero sunt saepe quis maxime quas, aliquid facilis nesciunt magni autem? In eligendi, inventore officiis quidem eaque dolore aut nostrum ab vero veritatis dolorum accusamus quasi deleniti reprehenderit hic dicta architecto ea alias aperiam unde nisi velit, dolorem voluptates reiciendis.</p><br><br><br>
            <div class="tombol">
                <button  type="button" class="btn btn-success"> <i class="fa fa-link"></i>  Shere Link</button>
                <button type="button" class="btn btn-success"><i class="fa fa-download"></i>  Download</button>
            </div>  
        </div>
    </div>

   
</section>